extends ../layout

block content
  .page-header
  h2  Hoş Geldin Admin :D
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group

    button.ui.basic.button
       a(href='/kisiler')
         i.icon.user
         |   Kişiler
