extends ../layout

block content
  .page-header
    h3 Giriş Yap

    
      .content
           a(href='/auth/github')
             button.giris-button.ui.grey.button.massive
               i.imge.github.square.icon
               .g-text Github Hesabınızla Giriş Yapın
