extends ../layout

block content
  .page-header
    h3 Giriş Yap

    .form-group
      .col-sm-offset-3.col-sm-7


      .content

           a(href='/auth/google')
             button.bolum.ui.grey.button.massive
               input.muh-logo(type='image', src='images.png')
               .text Bölüm Hesabınız ile Giriş Yapın
